* {
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 1em auto;
}

header, footer {
    display: block;
    margin: 0 3em;
}

h1 {
    font-size: 32pt;
    text-align: center;
}

footer {
    text-align: center;
    font-size 10pt;
    margin-top: 2em;
}

section.flashed-messages {
    margin: 1em 3em;
    background-color: darkgray;
    color: white;
    padding: 1em 1ex;
    clear: left;
}

nav.main-navigation {
    margin: 1em 3em;
}

nav.main-navigation ul {
    list-style-type: none;
}

nav.main-navigation li {
    display: inline-block;
    padding: 1em 1ex;
    background-color: lightgray;
}

section.main-section {
    margin: 1em 3em;
    border: 1px solid darkgray;
    padding: 1em 1ex;
}

table.records td {
    padding: 0.4em;
}
